# Supabase
NEXT_PUBLIC_SUPABASE_URL=your-project-url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key

# Cloudinary
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=dlnrym82j
CLOUDINARY_API_KEY=252162467696624
CLOUDINARY_API_SECRET=VlE9SimTZ3DF5xmRuJ_OtHNZbxU
